@model IEnumerable<AdministratorPanel2018v3.Models.New_Clases.Employee_Roles>

<table class="table table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Buttons
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>@Html.ActionLink("EDIT", "RoleEdit", new { id = item.EmployeeID }) </td>
             </tr>
    }
</table>

