@model IEnumerable<AdministratorPanel2018v3.Models.New_Clases.RoomDescription>

@{
    ViewBag.Title = "AvList";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">



<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Available Rooms</h1>
            </div>
        </div>
    </div>
</header>



@if (ViewBag.Av == 0)
{
    <img  src="~/Content/RoomPictures/NoRoomAvailable.png" alt="No Room Found">
    <h2 class="text-center">

        @Html.ActionLink("Search another room", "Checkin")
    </h2>



}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirCon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tv)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balcony)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <span id="target">
                        @Html.ActionLink("Select the Room", "Book", new { id = item.RoomID })
                    </span>


                </td>
            </tr>

        }


    </table>
    <h1 class="col col-md-12 col-lg-offset-5 glyphicon-envelope">
        @Html.ActionLink("My orders", "Myorder")
    </h1>

}


